version: '3.6'
services:

  app:
    build:
      dockerfile: ./Dockerfile
      context: .
    image: edilsondjr/wol-api
    networks:
      - wolapinetwork
    ports:
      - 5000:5000
    restart: always

networks:
  wolapinetwork:
    name: wolapinetwork
    driver: bridge