[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ping3 = "*"
wakeonlan = "*"
jsonify = "*"
Flask = "*"
Werkzeug = "*"
Jinja = "*"
jinja2 = "==2.11.1"

[requires]
python_version = "3.8"
