[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ping3 = "*"
wakeonlan = "*"
jsonify = "*"
Flask = "*"
Werkzeug = "*"
Flask-SQLAlchemy = "2.4.4"
Flask-serialize = "1.1.9"

[requires]
python_version = "3.8"
